._yd_background {
  position: relative
}

._yd_background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/photo_accueil_site.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(0.35) contrast(1.65) grayscale(0.4) saturate(0.55)
}

._yd_background ._yd_logo svg {
  filter: drop-shadow(0 15px 10px #000)
}

._yd_citation * {
  font-family: "Playfair Display SC", serif
}

._yd_reversed {
  display: inline-block;
  transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1)
}

h1 {
  font-size: 12px !important
}

h1 span {
  position: absolute;
  height: 90px;
  width: 20px;
  left: 50%;
  top: 0;
  transform-origin: bottom center;
  font-size: 12px !important;
  text-align: center
}

._yd_title_middle {
  text-align: center;
  position: absolute;
  height: 90px;
  width: 60px;
  left: 50%;
  top: 0;
  font-size: 12px !important;
  transform: translateY(58px) translateX(-19px)
}

._yd_title_middle path {
  fill: #dbf4ff;
  transition: all ease-in-out 0.2s
}

._yd_title_middle:hover path {
  fill: #75d3ff
}

._yd_title_middle svg {
  border-radius: 2000px
}

._yd_title_middle:hover svg {
  animation: pulse 1.2s;
  box-shadow: 0 0 0 1em rgba(255, 255, 255, 0)
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(117, 211, 255, 0.8)
  }
}

._yd_title_letters_1 {
  animation-name: spin_1;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes spin_1 {
  from {
    transform: rotate(8.18182deg)
  }
  to {
    transform: rotate(368.18182deg)
  }
}

._yd_title_letters_2 {
  animation-name: spin_2;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes spin_2 {
  from {
    transform: rotate(16.36364deg)
  }
  to {
    transform: rotate(376.36364deg)
  }
}

._yd_title_letters_3 {
  animation-name: spin_3;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes spin_3 {
  from {
    transform: rotate(24.54545deg)
  }
  to {
    transform: rotate(384.54545deg)
  }
}

._yd_title_letters_4 {
  animation-name: spin_4;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes spin_4 {
  from {
    transform: rotate(32.72727deg)
  }
  to {
    transform: rotate(392.72727deg)
  }
}

._yd_title_letters_5 {
  animation-name: spin_5;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes spin_5 {
  from {
    transform: rotate(40.90909deg)
  }
  to {
    transform: rotate(400.90909deg)
  }
}

._yd_title_letters_6 {
  animation-name: spin_6;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes spin_6 {
  from {
    transform: rotate(49.09091deg)
  }
  to {
    transform: rotate(409.09091deg)
  }
}

._yd_title_letters_7 {
  animation-name: spin_7;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes spin_7 {
  from {
    transform: rotate(57.27273deg)
  }
  to {
    transform: rotate(417.27273deg)
  }
}

._yd_title_letters_8 {
  animation-name: spin_8;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes spin_8 {
  from {
    transform: rotate(65.45455deg)
  }
  to {
    transform: rotate(425.45455deg)
  }
}

._yd_title_letters_9 {
  animation-name: spin_9;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes spin_9 {
  from {
    transform: rotate(73.63636deg)
  }
  to {
    transform: rotate(433.63636deg)
  }
}

._yd_title_letters_10 {
  animation-name: spin_10;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes spin_10 {
  from {
    transform: rotate(81.81818deg)
  }
  to {
    transform: rotate(441.81818deg)
  }
}

._yd_title_letters_11 {
  animation-name: spin_11;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes spin_11 {
  from {
    transform: rotate(90deg)
  }
  to {
    transform: rotate(450deg)
  }
}

._yd_title_letters_12 {
  animation-name: spin_12;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes spin_12 {
  from {
    transform: rotate(98.18182deg)
  }
  to {
    transform: rotate(458.18182deg)
  }
}

._yd_title_letters_13 {
  animation-name: spin_13;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes spin_13 {
  from {
    transform: rotate(106.36364deg)
  }
  to {
    transform: rotate(466.36364deg)
  }
}

._yd_title_letters_14 {
  animation-name: spin_14;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes spin_14 {
  from {
    transform: rotate(114.54545deg)
  }
  to {
    transform: rotate(474.54545deg)
  }
}

._yd_title_letters_15 {
  animation-name: spin_15;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes spin_15 {
  from {
    transform: rotate(122.72727deg)
  }
  to {
    transform: rotate(482.72727deg)
  }
}

._yd_title_letters_16 {
  animation-name: spin_16;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes spin_16 {
  from {
    transform: rotate(130.90909deg)
  }
  to {
    transform: rotate(490.90909deg)
  }
}

._yd_title_letters_17 {
  animation-name: spin_17;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes spin_17 {
  from {
    transform: rotate(139.09091deg)
  }
  to {
    transform: rotate(499.09091deg)
  }
}

._yd_title_letters_18 {
  animation-name: spin_18;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes spin_18 {
  from {
    transform: rotate(147.27273deg)
  }
  to {
    transform: rotate(507.27273deg)
  }
}

._yd_title_letters_19 {
  animation-name: spin_19;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes spin_19 {
  from {
    transform: rotate(155.45455deg)
  }
  to {
    transform: rotate(515.45455deg)
  }
}

._yd_title_letters_20 {
  animation-name: spin_20;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes spin_20 {
  from {
    transform: rotate(163.63636deg)
  }
  to {
    transform: rotate(523.63636deg)
  }
}

._yd_title_letters_21 {
  animation-name: spin_21;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes spin_21 {
  from {
    transform: rotate(171.81818deg)
  }
  to {
    transform: rotate(531.81818deg)
  }
}

._yd_title_letters_22 {
  animation-name: spin_22;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes spin_22 {
  from {
    transform: rotate(180deg)
  }
  to {
    transform: rotate(540deg)
  }
}

._yd_title_letters_23 {
  animation-name: spin_23;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes spin_23 {
  from {
    transform: rotate(188.18182deg)
  }
  to {
    transform: rotate(548.18182deg)
  }
}

._yd_title_letters_24 {
  animation-name: spin_24;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes spin_24 {
  from {
    transform: rotate(196.36364deg)
  }
  to {
    transform: rotate(556.36364deg)
  }
}

._yd_title_letters_25 {
  animation-name: spin_25;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes spin_25 {
  from {
    transform: rotate(204.54545deg)
  }
  to {
    transform: rotate(564.54545deg)
  }
}

._yd_title_letters_26 {
  animation-name: spin_26;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes spin_26 {
  from {
    transform: rotate(212.72727deg)
  }
  to {
    transform: rotate(572.72727deg)
  }
}

._yd_title_letters_27 {
  animation-name: spin_27;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes spin_27 {
  from {
    transform: rotate(220.90909deg)
  }
  to {
    transform: rotate(580.90909deg)
  }
}

._yd_title_letters_28 {
  animation-name: spin_28;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes spin_28 {
  from {
    transform: rotate(229.09091deg)
  }
  to {
    transform: rotate(589.09091deg)
  }
}

._yd_title_letters_29 {
  animation-name: spin_29;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes spin_29 {
  from {
    transform: rotate(237.27273deg)
  }
  to {
    transform: rotate(597.27273deg)
  }
}

._yd_title_letters_30 {
  animation-name: spin_30;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes spin_30 {
  from {
    transform: rotate(245.45455deg)
  }
  to {
    transform: rotate(605.45455deg)
  }
}

._yd_title_letters_31 {
  animation-name: spin_31;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes spin_31 {
  from {
    transform: rotate(253.63636deg)
  }
  to {
    transform: rotate(613.63636deg)
  }
}

._yd_title_letters_32 {
  animation-name: spin_32;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes spin_32 {
  from {
    transform: rotate(261.81818deg)
  }
  to {
    transform: rotate(621.81818deg)
  }
}

._yd_title_letters_33 {
  animation-name: spin_33;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes spin_33 {
  from {
    transform: rotate(270deg)
  }
  to {
    transform: rotate(630deg)
  }
}

._yd_title_letters_34 {
  animation-name: spin_34;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes spin_34 {
  from {
    transform: rotate(278.18182deg)
  }
  to {
    transform: rotate(638.18182deg)
  }
}

._yd_title_letters_35 {
  animation-name: spin_35;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes spin_35 {
  from {
    transform: rotate(286.36364deg)
  }
  to {
    transform: rotate(646.36364deg)
  }
}

._yd_title_letters_36 {
  animation-name: spin_36;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes spin_36 {
  from {
    transform: rotate(294.54545deg)
  }
  to {
    transform: rotate(654.54545deg)
  }
}

._yd_title_letters_37 {
  animation-name: spin_37;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes spin_37 {
  from {
    transform: rotate(302.72727deg)
  }
  to {
    transform: rotate(662.72727deg)
  }
}

._yd_title_letters_38 {
  animation-name: spin_38;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes spin_38 {
  from {
    transform: rotate(310.90909deg)
  }
  to {
    transform: rotate(670.90909deg)
  }
}

._yd_title_letters_39 {
  animation-name: spin_39;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes spin_39 {
  from {
    transform: rotate(319.09091deg)
  }
  to {
    transform: rotate(679.09091deg)
  }
}

._yd_title_letters_40 {
  animation-name: spin_40;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes spin_40 {
  from {
    transform: rotate(327.27273deg)
  }
  to {
    transform: rotate(687.27273deg)
  }
}

._yd_title_letters_41 {
  animation-name: spin_41;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes spin_41 {
  from {
    transform: rotate(335.45455deg)
  }
  to {
    transform: rotate(695.45455deg)
  }
}

._yd_title_letters_42 {
  animation-name: spin_42;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes spin_42 {
  from {
    transform: rotate(343.63636deg)
  }
  to {
    transform: rotate(703.63636deg)
  }
}

._yd_title_letters_43 {
  animation-name: spin_43;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes spin_43 {
  from {
    transform: rotate(351.81818deg)
  }
  to {
    transform: rotate(711.81818deg)
  }
}

._yd_title_letters_44 {
  animation-name: spin_44;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes spin_44 {
  from {
    transform: rotate(360deg)
  }
  to {
    transform: rotate(720deg)
  }
}

._yd_title_middle_others {
  text-align: center;
  position: absolute;
  height: 80px;
  width: 50px;
  left: 50%;
  top: 0;
  font-size: 12px !important
}

._yd_title_middle_others path {
  fill: #dbf4ff;
  transition: all ease-in-out 0.2s
}

._yd_title_middle_others:hover path {
  fill: #75d3ff
}

._yd_block_media:hover {
  transition: all ease-in-out 0.2s
}

._yd_block_media:hover h1, ._yd_block_media:hover ._yd_title_letter {
  opacity: 0;
  z-index: -1;
  pointer-events: none
}

._yd_block_media:hover ._yd_title_middle_others {
  opacity: 0;
  z-index: 10
}

._yd_block_media ._yd_email {
  z-index: -1 !important;
  opacity: 0
}

._yd_block_media ._yd_facebook {
  z-index: -1 !important;
  opacity: 0;
  transition-delay: 0.1s
}

._yd_block_media ._yd_instagram {
  z-index: -1 !important;
  opacity: 0;
  transition-delay: 0.2s
}

._yd_block_media ._yd_phone {
  z-index: -1 !important;
  opacity: 0;
  transition-delay: 0.3s
}

._yd_block_media:hover ._yd_email {
  transform: translateY(-30px) translateX(-15px);
  z-index: 10;
  opacity: 1
}

._yd_block_media:hover ._yd_facebook {
  transform: translateY(-3px) translateX(51px);
  z-index: 10;
  opacity: 1
}

._yd_block_media:hover ._yd_instagram {
  transform: translateY(58px) translateX(80px);
  z-index: 10;
  opacity: 1
}

._yd_block_media:hover ._yd_phone {
  transform: translateY(120px) translateX(60px);
  z-index: 10;
  opacity: 1
}

._yd_quotes {
  pointer-events: none
}

._yd_txt_around_image span {
  font-size: 20px;
  text-transform: uppercase;
  position: absolute;
  height: 300px;
  width: 20px;
  left: 0;
  top: 0;
  transform-origin: bottom center;
  z-index: 100
}

._yd_letters_block {
  transform: translateX(240px) translateY(-550px)
}

._yd_txt_around_image span:nth-child(1) {
  transform: rotate(55deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(2) {
  transform: rotate(60deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(3) {
  transform: rotate(65deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(4) {
  transform: rotate(70deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(5) {
  transform: rotate(75deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(6) {
  transform: rotate(80deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(7) {
  transform: rotate(85deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(8) {
  transform: rotate(90deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(9) {
  transform: rotate(95deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(10) {
  transform: rotate(100deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(11) {
  transform: rotate(105deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(12) {
  transform: rotate(110deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(13) {
  transform: rotate(115deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(14) {
  transform: rotate(120deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(15) {
  transform: rotate(125deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(16) {
  transform: rotate(130deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(17) {
  transform: rotate(135deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(18) {
  transform: rotate(140deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(19) {
  transform: rotate(145deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(20) {
  transform: rotate(150deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(21) {
  transform: rotate(155deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(22) {
  transform: rotate(160deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(23) {
  transform: rotate(165deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(24) {
  transform: rotate(170deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(25) {
  transform: rotate(175deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(26) {
  transform: rotate(180deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(27) {
  transform: rotate(185deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(28) {
  transform: rotate(190deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(29) {
  transform: rotate(195deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(30) {
  transform: rotate(200deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(31) {
  transform: rotate(205deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(32) {
  transform: rotate(210deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(33) {
  transform: rotate(215deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(34) {
  transform: rotate(220deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(35) {
  transform: rotate(225deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(36) {
  transform: rotate(230deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(37) {
  transform: rotate(235deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(38) {
  transform: rotate(240deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(39) {
  transform: rotate(245deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(40) {
  transform: rotate(250deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(41) {
  transform: rotate(255deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(42) {
  transform: rotate(260deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(43) {
  transform: rotate(265deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(44) {
  transform: rotate(270deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(45) {
  transform: rotate(275deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(46) {
  transform: rotate(280deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(47) {
  transform: rotate(285deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(48) {
  transform: rotate(290deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(49) {
  transform: rotate(295deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(50) {
  transform: rotate(300deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(51) {
  transform: rotate(305deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(52) {
  transform: rotate(310deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(53) {
  transform: rotate(315deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(54) {
  transform: rotate(320deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(55) {
  transform: rotate(325deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(56) {
  transform: rotate(330deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(57) {
  transform: rotate(335deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(58) {
  transform: rotate(340deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(59) {
  transform: rotate(345deg) scale(-1, -1)
}

._yd_txt_around_image span:nth-child(60) {
  transform: rotate(350deg) scale(-1, -1)
}

@media screen and (max-width: 1023px) {
  #_yd_btn_media {
    transform-origin: center center;
    transform: scale(0.7) translateX(-7%)
  }

  ._yd_block_media:hover ._yd_email {
    transform-origin: center center;
    transform: translateY(-3px) translateX(-81px)
  }

  ._yd_block_media:hover ._yd_facebook {
    transform-origin: center center;
    transform: translateY(-3px) translateX(51px)
  }

  ._yd_block_media:hover ._yd_instagram {
    transform-origin: center center;
    transform: translateY(58px) translateX(80px)
  }

  ._yd_block_media:hover ._yd_phone {
    transform-origin: center center;
    transform: translateY(58px) translateX(-110px)
  }

  ._yd_txt_around_image span {
    font-size: 10px;
    text-transform: uppercase;
    position: absolute;
    height: 150px;
    width: 10px;
    left: 0;
    top: 0;
    transform-origin: bottom center;
    z-index: 100
  }

  ._yd_letters_block {
    transform: translateX(120px) translateY(-275px)
  }
}
