.idea
node_modules
public/languages
public/wordpress
vendor
.editorconfig
.env-exemple
.gitignore
.git
composer.lock
package-lock.json
README.md
.env
lighthouse.png
Screenshot_1.png
TutoWordpressAdmin.pdf
TutoWordpressAdminb.docx
TutoWordpressAdminb.pdf
